<footer class="footer pt-5 pb-4 pb-lg-5 mt-4" style="background-color: #002148">
    <div class="container text-center pt-lg-3">
       <div class="navbar-brand justify-content-center text-dark mb-2 mb-lg-4">
          <img src="assets/logo_stb.png" class="me-2" width="60" alt="Silicon">
          <span class="fs-4">STB Everywhere </span>
       </div>
       <ul class="nav justify-content-center pt-3 pb-4 pb-lg-5">
          <li class="nav-item"><a href="stb_ebank.html#top" class="nav-link">Acceuil</a></li>
          <li class="nav-item"><a href="stb_ebank.html#services" class="nav-link">Services</a></li>
          <li class="nav-item"><a href="stb_ebank.html#retail" class="nav-link">Retail</a></li>
          <li class="nav-item"><a href="stb_ebank.html#corporate" class="nav-link">Corporate</a></li>
          <li class="nav-item"><a href="stb_ebank.html#ccm" class="nav-link">Comment ça marche</a></li>
          <li class="nav-item"><a href="stb_ebank.html#top" class="nav-link">Nos Offres</a></li>
       </ul>
       <div class="d-flex justify-content-center pt-4 mt-lg-3">
          <a href="landing-mobile-app-showcase-v1.html#" class="btn btn-icon btn-secondary btn-facebook mx-2">
          <i class="bx bxl-facebook"></i>
          </a>
          <a href="landing-mobile-app-showcase-v1.html#" class="btn btn-icon btn-secondary btn-instagram mx-2">
          <i class="bx bxl-instagram"></i>
          </a>
          <a href="landing-mobile-app-showcase-v1.html#" class="btn btn-icon btn-secondary btn-twitter mx-2">
          <i class="bx bxl-twitter"></i>
          </a>
          <a href="landing-mobile-app-showcase-v1.html#" class="btn btn-icon btn-secondary btn-youtube mx-2">
          <i class="bx bxl-youtube"></i>
          </a>
       </div>
    </div>
 </footer>
