<div class="admin-dashboard">
  <nav class="admin-nav">
    <div class="nav-header">
      <h2>Administration</h2>
    </div>
    <ul>
      <li><a routerLink="kyc" routerLinkActive="active">
        <i class="bx bx-user-check"></i>
        KYC Management
      </a></li>
      <li><a routerLink="complaints" routerLinkActive="active">
        <i class="bx bx-message-square-detail"></i>
        Complaints Viewer
      </a></li>
    </ul>
  </nav>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div> 