<div class="row p-2">
    <div class="d-none d-md-block col-12">
        <div class="card border-0 shadow-sm mb-4 p-0">
            <div class="row g-0">
                <div class="col-12">
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <div class="h4 pb-1 mb-2">COMPTE SPECIAL EPARGNE</div>
                        <div class="text-center textShadow" style="color: green;">
                            <b><span class="text-bold" style="font-size: 30px;">95.428</span> TND</b>
                        </div>
                    </div>
                    <p class="m-0 px-3 pb-3">RIB: {{ client?.rib || 'thchlek...' }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="w-100 d-none divProfil col-12 p-0 test1">
        <div class="row w-100 card border-0 shadow-sm m-0 p-0">
            <div class="col-12 card-body px-4 py-2 m-0">
                <div class="d-flex justify-content-between align-items-center">
                    <h2 class="h4 pb-1 m-0"><a class="IdentifierNameAccount">COMPTE SPECIAL EPARGNE</a></h2>
                    <div class="text-center textShadow" style="color: green;">
                        <b><span class="text-bold" style="font-size: 30px;">95.428</span> TND</b>
                    </div>
                </div>
                <p class="m-0 RibLabelAccount">RIB: <b>10807103504782578801</b></p>
                <p class="m-0 RibLabelAccount">Solde autorisé: <b>95.428 TND</b></p>
            </div>
        </div>
    </div>
</div>