<div class="competef-bank">
    <!-- Your existing content -->
    
    <!-- Account options section -->
    <div class="account-options">
      <div class="row h-100 w-100 text-center p-2 m-0">
        <div class="col option-card">
          <img src="assets/img/students0.jpg" alt="Student Account">
          <br>
          <p>Pack Student TF Bank</p>
        </div>
        <div class="col option-card">
          <img src="assets/img/employees0.jpg" alt="Employee Account">
          <br>
          <p>Pack Elyssa TF Bank</p>
        </div>
      </div>
    </div>
  </div>