.mainEspaceClient {
    padding-top: 100px;
}

.pt-4 {
    padding-top: 1.5rem !important;
}
.col-3 {
    flex: 0 0 auto;
    width: 25%;
}
.d-lg-block {
    display: block !important
}
.d-xxl-block {
    display: block !important
}

/* Card styles */
.card {
    backdrop-filter: blur(10px);
}

/* Text styles */
.text-white-50 {
    opacity: 0.8;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .card {
        margin-bottom: 1rem;
    }
}