<div _ngcontent-lio-c66="" class="card card-profile shadow">
    <br _ngcontent-lio-c66="">
    <div _ngcontent-lio-c66="" class="row p-0 justify-content-center">
        <div _ngcontent-lio-c66="" class="col-12 text-end pr-3" style="font-size: 12px;">
            Fiche KYC :<img _ngcontent-lio-c66="" src="assets/img/pdf.png" alt="" style="width: 35px; cursor: pointer;">
        </div>
    </div>
    <div _ngcontent-lio-c66="" id="content" class="px-4">
        <div _ngcontent-lio-c66="" class="row">
            <div _ngcontent-lio-c66="" class="col-lg-12 col-sm-12">
                <div _ngcontent-lio-c66="" class="text-center mt-5">
                    <h3 _ngcontent-lio-c66="">MHEMED CHEBIL <span _ngcontent-lio-c66="" class="font-weight-light"></span></h3>
                    <div _ngcontent-lio-c66="" class="h6 font-weight-300">
                        <i _ngcontent-lio-c66="" class="ni location_pin"></i>TUNISIE, GABES
                    </div>
                </div>
            </div>
        </div>
        <div _ngcontent-lio-c66="" class="py-5 border-top">
            <div _ngcontent-lio-c66="" class="row">
                <div _ngcontent-lio-c66="" style="width: 30px!important;"></div>
                <div _ngcontent-lio-c66="" class="col-lg-5 col-sm-12">
                    <div _ngcontent-lio-c66="" class="row" style="border-radius: 10px 0px; padding: 6px; background-color: #023c82;">
                        <h5 _ngcontent-lio-c66="" style="color: white; margin: 0;">Informations générales</h5>
                    </div>
                    <div _ngcontent-lio-c66="" class="row">
                        <div _ngcontent-lio-c66="" class="col-sm-12 col-lg-12">
                            <p _ngcontent-lio-c66="">
                                <!----><br _ngcontent-lio-c66="">
                                <span _ngcontent-lio-c66=""><b _ngcontent-lio-c66="">Civilité:</b></span> Monsieur<br _ngcontent-lio-c66="">
                                <span _ngcontent-lio-c66=""><b _ngcontent-lio-c66="">Pays de naissance:</b></span> TUNISIE<br _ngcontent-lio-c66="">
                                <span _ngcontent-lio-c66=""><b _ngcontent-lio-c66="">Date de naissance:</b></span> 01-11-2002<br _ngcontent-lio-c66="">
                                <span _ngcontent-lio-c66=""><b _ngcontent-lio-c66="">Numéro de téléphone:</b></span> 54603035<br _ngcontent-lio-c66="">
                                <span _ngcontent-lio-c66=""><b _ngcontent-lio-c66="">Email:</b></span> emhemedchbil.com<br _ngcontent-lio-c66="">
                                <span _ngcontent-lio-c66=""><b _ngcontent-lio-c66="">Adresse:</b></span> 6080, mareth 6080-MARETH GABES, TUNISIE<br _ngcontent-lio-c66="">
                                <span _ngcontent-lio-c66=""><b _ngcontent-lio-c66="">Motif:</b></span> Création du compte<br _ngcontent-lio-c66="">
                                <span _ngcontent-lio-c66=""><b _ngcontent-lio-c66="">Objet de relation:</b></span><!----> Epargne<br _ngcontent-lio-c66="">
                                <!----> <br _ngcontent-lio-c66="">
                            </p>
                        </div>
                    </div>
                    <div _ngcontent-lio-c66="" class="row" style="border-radius: 10px 0px; padding: 6px; background-color: #023c82;">
                        <h5 _ngcontent-lio-c66="" style="color: white; margin: 0;">Informations financières</h5>
                    </div>
                    <div _ngcontent-lio-c66="" class="row">
                        <div _ngcontent-lio-c66="" class="col-sm-12 col-lg-12">
                            <span _ngcontent-lio-c66=""><b _ngcontent-lio-c66="">Vous êtes :</b></span><br _ngcontent-lio-c66="">
                            <div _ngcontent-lio-c66="" class="col-lg-6 col-sm-5">
                                <ul _ngcontent-lio-c66="">
                                    <li _ngcontent-lio-c66="">Particulier</li>
                                </ul>
                                <!----><!---->
                            </div>
                            <p _ngcontent-lio-c66="">
                                <!----><!----> <!----> <!----> <!----> <!----> <span _ngcontent-lio-c66="" class="w-100"><b _ngcontent-lio-c66="">Nature de l'activité:</b></span><!----> Privé <!----> <!----> <!---->
                            </p>
                        </div>
                    </div>
                </div>
                <div _ngcontent-lio-c66="" class="col-lg-1"></div>
                <div _ngcontent-lio-c66="" class="col-lg-5 col-sm-12">
                    <div _ngcontent-lio-c66="" class="row" style="border-radius: 10px 0px; padding: 6px; background-color: #023c82;">
                        <h5 _ngcontent-lio-c66="" style="color: white; margin: 0;">Informations personnelles</h5>
                    </div>
                    <div _ngcontent-lio-c66="" class="row" style="font-size: 12px;">
                        <div _ngcontent-lio-c66="" class="col-sm-12 col-lg-12">
                            <p _ngcontent-lio-c66="">
                                <span _ngcontent-lio-c66=""><b _ngcontent-lio-c66="">Nationalité principale: </b></span> TUNISIENNE<br _ngcontent-lio-c66="">
                                <span _ngcontent-lio-c66=""><b _ngcontent-lio-c66="">Autre nationalité:</b> TUNISIENNE <br _ngcontent-lio-c66=""></span>
                                <!---->
                                <span _ngcontent-lio-c66=""><b _ngcontent-lio-c66="">Nom complet de la mère:</b></span> Sayah Fethia<br _ngcontent-lio-c66="">
                                <span _ngcontent-lio-c66=""><b _ngcontent-lio-c66="">Nom complet du père:</b></span> Chebil Habib<br _ngcontent-lio-c66="">
                                <span _ngcontent-lio-c66=""><b _ngcontent-lio-c66="">Etat civil: </b></span> Célibataire<br _ngcontent-lio-c66="">
                                <!----><br _ngcontent-lio-c66="">
                            </p>
                        </div>
                    </div>
                    <!----><!---->
                    <div _ngcontent-lio-c66="" class="row"><!----></div>
                    <!---->
                    <div _ngcontent-lio-c66="" class="row" style="border-radius: 10px 0px; padding: 6px; background-color: #023c82;">
                        <h5 _ngcontent-lio-c66="" style="color: white; margin: 0;">Autres informations</h5>
                    </div>
                    <div _ngcontent-lio-c66="" class="row" style="font-size: 12px;">
                        <div _ngcontent-lio-c66="" class="col-lg-12 col-sm-12">
                            <span _ngcontent-lio-c66=""><b _ngcontent-lio-c66="">Résidence: </b> Résident en Tunisie</span><br _ngcontent-lio-c66="">
                            <span _ngcontent-lio-c66=""><b _ngcontent-lio-c66="">Numéro CIN:</b> 13286618 <br _ngcontent-lio-c66=""></span>
                            <!---->
                            <span _ngcontent-lio-c66=""><b _ngcontent-lio-c66="">Date de délivrance:</b> 12-10-2020 <br _ngcontent-lio-c66=""></span>
                            <!----><!----><!---->
                        </div>
                    </div>
                    <br _ngcontent-lio-c66="">
                    <div _ngcontent-lio-c66="" class="row" style="border-radius: 10px 0px; padding: 6px; background-color: #023c82;">
                        <h5 _ngcontent-lio-c66="" style="color: white; margin: 0;">Agence de domiciliation</h5>
                    </div>
                    <div _ngcontent-lio-c66="" class="row" style="font-size: 12px;">
                        <div _ngcontent-lio-c66="" class="col-lg-12 col-sm-12">
                            <span _ngcontent-lio-c66=""><b _ngcontent-lio-c66="">Choix de l'agence de domiciliation: </b> 103</span><br _ngcontent-lio-c66="">
                            <span _ngcontent-lio-c66=""><b _ngcontent-lio-c66="">Type du compte: </b> Compte Special Epargne Carte</span><br _ngcontent-lio-c66="">
                            <span _ngcontent-lio-c66=""><b _ngcontent-lio-c66="">Devise du compte: </b> TND</span>
                        </div>
                    </div>
                    <!----><!---->
                </div>
            </div>
        </div>
    </div>
    <!-- Add the button here -->
    <div class="text-center mt-4">
        <button class="btn btn-primary" (click)="navigateToKycForm()">Demande Mise à Jour KYC Form</button>
    </div>
</div>